body {
    text-align: center;
    background-color: burlywood; 
    width: 800px;
    height: 800px;
    border: 15px solid black;
    padding: 10px;
    margin: auto;
}
nav {
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    color: blueviolet;
    border-style: solid;
    border-color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;  
}
h2 {
    text-align: left; 
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: crimson;
}
p {
    text-align: left; 
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: crimson;
}
form {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    color: crimson;
}